<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("#navbar").load("navbar.html");
            $.get("/user", function (data) {
                $("#user_id").val(data.id);
            });
    
            // Add a submit event handler to the form
            $("form").on("submit", function(event) {
                event.preventDefault(); // Prevent form from being submitted

                var userId = $("#user_id").val();
                var productId = $("#product_id").val();
                var quantity = $("#quantity").val();

                $.post("/orders", { user_id: userId, product_id: productId, quantity: quantity }, function(data) {
                    alert("Order has been submitted.");
                });
            });
        });
    </script>
  </head>
  <body>
    <div id="navbar"></div>
    <h1>Order a Product</h1>

    <form>
        <input type="hidden" id="user_id" name="user_id"> <!-- Hidden user_id field -->
        <label for="product_id">Product ID:</label><br>
        <input type="text" id="product_id" name="product_id" required><br>
        <label for="quantity">Quantity:</label><br>
        <input type="text" id="quantity" name="quantity" required><br>
        <button type="submit" id="orderButton">Order</button>
    </form>
  </body>
</html>