<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {
        var selectedProductId;
    
        $("#navbar").load("navbar.html");
        $.get("/api/products", function (data) {
          var productsHTML = "<ul>";
          data.forEach(function (product) {
            var productId = product.id; // Use id as productId
            productsHTML +=
              "<li>" +
              product.name +
              " - " +
              product.price +
              ' <button class="select-product" data-id="' +
              productId + // Use productId here
              '">Show Comments</button></li>';
          });
          productsHTML += "</ul>";
          $("#products").html(productsHTML);
    
          $(".select-product").click(function () {
            selectedProductId = $(this).data("id");
            $("#product-id").val(selectedProductId);
            $("#product-details").collapse('hide'); // Hide the previous comments
    
            if (!selectedProductId) {
              return;
            }
            $.get("/products/" + selectedProductId + "/comment", function (data) {
              var commentsHTML = "<div class='collapse' id='comments-" + selectedProductId + "'>";
              if (data.comments.length === 0) {
                commentsHTML += "<p>No comments for this product.</p>";
              } else {
                data.comments.forEach(function (comment) {
                  commentsHTML += "<p>" + comment.comment + "</p>"; // Use comment.comment instead of comment.text
                });
              }
              commentsHTML += "</div>";
              $("#product-details").html(commentsHTML);
              $("#comments-" + selectedProductId).collapse('show'); // Show the comments
            });
          });
        });
      });
    </script>
  </head>
  <body>
    <div id="navbar"></div>
    <h1>Products</h1>
    <div id="products"></div>
    <div id="product-details"></div>
  </body>
</html>